@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Estilização da Página*/
* {
    margin: 0;
    box-sizing: border-box;
}

.pagina-rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;

    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #182754;

    h1 {
        color: #fff;
        font: 500 20px 'Inter';
    }

    p {
        color: #fff;
        font: 300 13px 'Inter';
    }


    .info-principais {
        display: flex;
        flex-direction: row;
        gap: 25px;

        img {
            height: 130px;
        }

        p {
            color: #fff;
            height: 100px;
            padding-top: 55px;
        }

        hr {
            padding-bottom: 35px;
        }
    }


    .inicio {
        h1 {
            padding-bottom: 10px;
        }

        p {
            padding: 5px 0px;
        }
    }


    .contatos {

        #contato-img {
            height: 25px;
        }


        .sub1 {
            display: flex;
            flex-direction: row;
            padding: 30px 0px 10px 0px;
            gap: 10px;
        }

        .sub2 {
            display: flex;
            flex-direction: row;
            padding: 0px 0px 10px 0px;
            gap: 10px;
        }

        .sub3 {
            display: flex;
            flex-direction: row;
            padding: -10px 0px 20px 0px;
            gap: 10px;
        }
    }


    .redes {
        display: flex;
        gap: 25px;
        align-items: center;

        i {
            color: #fff;
        }

        #youtube {
            transition: transform 0.3s ease;
          
            &:hover {
              transform: scale(1.2);
              color: #ff000f;
            }
        }
        
        #facebook{
            transition: transform 0.3s ease;
          
            &:hover {
              transform: scale(1.2);
              color: #1877F2;
            }
        }

        #instagram{
            transition: transform 0.3 ease;
            
            &:hover {
                transform: scale(1.2);
                color: #C13584;
              }
        }
    }
}

@media (max-width: 1199px) {
    .pagina-rodape {
      display: flex;
      padding: 40px 80px;
  
      .info-principais img {
        margin-top: 23px;
        width: 100px;
      }
  
      .inicio,
      .contatos,
      .redes {
        h1 {
          font-size: 16px;
        }
  
        p {
          font-size: 13px;
        }
      }

      .inicio p{
        padding-top: 15px;
      }
    }
  }

  
@media (max-width: 767px) {
    .pagina-rodape {
      padding: 22px 35px;
      gap: 30px;
  
      .info-principais{
        gap: 12px;

        p{
            padding-bottom: 70px;
        }
      }
      .info-principais img {
        width: 75px;
      }
  
      .inicio,
      .contatos,
      .redes {
        h1 {
          font-size: 14px;
        }
  
        p {
          font-size: 11px;
        }
      }
  
      .contatos .contato-item img {
        width: 15px;
        height: 15px;
      }
  
      .redes a {
        font-size: 13px;
      }
    }
}
  
@media (max-width: 480px) {
    .pagina-rodape {
      padding: 8px 0px;
  
      .info-principais{
        margin-left: 40px;
        p{
            padding-bottom: 60px;
            font-size: 10px;
        }
      }
      .info-principais img {
        width: 60px;
      }
  
      .inicio,
      .contatos,
      .redes {
        h1 {
          font-size: 11px;
        }
  
        p {
          font-size: 8.5px;
        }
      }

      .contatos{
        gap: 0px;
        padding-right: -100px;

        img{
            width: 20px;
        }
      }
  
      .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 40px;
      }
      .redes a {
        padding-top: 15px;
        font-size: 10px;
      }

      .redes{
        gap: 7px;
      }
    }
  }
