.pagina-renderizacao-condicional{
    .inscricao{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }


    .filmes{
        .lista{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 40px;
        }

        .entradas{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: start;
        }
    }


    .msg-biscoito{
        font: 600 28px 'Roboto';
        font-style: italic;
        text-align: center;
        margin: 20px;
    }
}
